/*DEVELOPER: Adib Haque, IS117-101, Fall 2019 */
body {
    background-color: #98ccff;
    color: #98ccff;
    overflow-x: hidden;
    overflow-y: scroll;
}

*, ::after, ::before {
    box-sizing: content-box;
}

.about1 {
    /* transform: translate(-30%, 30%); */
    color: #23282d;
    text-align: left;
    font-size: 30rem;
}

.about2 {
    /* transform: translate(0%, 30%); */
    color: #23282d;
    text-align: left;
    font-size: 16rem
}

.about3 {
    /* transform: translate(-30%, 30%); */
    color: #23282d;
}

iframe {
    height: 30vh;
}

.about4 {
    /* transform: translate(0%, 35%); */
    color: #23282d;
    text-align: left;
}

hr {
    border: 1px solid #23282d;
}

h3 {
    text-align: left;
    font-size: 2rem;
    margin-top: 22px;
}

h4 {
    text-align: left;
    font-size: 1.75rem;
}

h5 {
    color: #ce8c00;
}

.about-links a {
    text-align: left;
    font-size: 1.3rem;
}

.about2 p {
    text-align: left;
    font-size: 1.5rem;
}

.about-links a:link {
    text-decoration: none;

    color: #23282d;
}

.about-links a:visited {
    text-decoration: none;
    color: #23282d;
}

.about-links a:hover {
    text-decoration: underline;
    color: #23282d;
}

.about-links a:active {
    text-decoration: underline;
    color: #23282d;
}

.about-links li {
    list-style-type: disk;
}

.about-links {
    transform: translateX(-7%);
}

footer {
    padding: 1em;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

#sidebar {
    width: 367px;
    float: right;
}

#sidebar_image {
    height: 320px;
    width: 294px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 200rem;
    padding-top: 2rem;
}

::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}
